<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ParserCore.Properties.Settings.ParserConnectionString"
      connectionString="Data Source=(local);Initial Catalog=Parser;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>